<div class="max-w-2xl p-8 rounded-xl mx-auto text-center my-16 bg-gray-50">
  <h1 class="font-black text-3xl mb-3">
    Member only!
  </h1>
  <%= link_to "<- Home", root_path,
        class: "bg-sky-500 text-white py-2 px-3 font-semibold rounded" %>
</div>